@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme(fontFamily.inter);
  }

  body {
    @apply bg-slate-50 text-slate-900 transition-colors;
  }

  .dark body {
    @apply bg-slate-900 text-slate-100;
  }

  h1,
  h2,
  h3,
  .font-poppins {
    font-family: theme(fontFamily.poppins);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #0f172a !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  .dark input:-webkit-autofill,
  .dark input:-webkit-autofill:hover,
  .dark input:-webkit-autofill:focus,
  .dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #1e293b inset !important;
    -webkit-text-fill-color: #f1f5f9 !important;
  }
}

